/*
Theme Name: Trend Following
Theme URI: http://underscores.me/
Author: Web Artisans
Author URI: http://webartisans.com.au
Description: Trend Following Website
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tf
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Trend Following is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
    width: 100%;
}

body {
	margin: 0 auto;
    max-width: 1440px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
    font-family: "proxima-nova", sans-serif;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-header {
    height: 56px;
    position: relative;
}

.fixed-nav {
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.site-title {
    margin: 0;
}

.secondary {
    font-size: 12px;
    position: relative;
    text-align: center;
}

.secondary-nav {
    position: absolute;
    top: 0;
    right: 0;
}

#secondary-menu a {
    color: #bbc1c9;
    display: block;
    height: 40px;
    padding-top: 10px;
    text-decoration: none;
    width: 135px;
}

#secondary-menu li:first-child a {
    background: #363d44;
    width: 118px;
}

#secondary-menu li:last-child a {
    border-left: 2px solid #363d44;
}

#secondary-menu li {
    display: inline-block;
    /*width: 33%;*/
}

.main-navigation {
	clear: both;
	display: block;
	float: right;
    text-align: center;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: left;
    padding: 18px 70px 0 0;
	position: relative;
}

.main-navigation li:nth-child(3) {
    padding-right: 44px;
}

#primary-menu > li:nth-child(4),
#primary-menu > li:nth-child(5) {
    padding: 0;
}

#primary-menu > li:nth-child(4) a,
#primary-menu > li:nth-child(5) a {
    background: #edeef0;
    color: #05286a;
    height: 56px;
    padding-top: 18px;
    width: 114px;
}

#primary-menu > li:nth-child(4) {
    margin-right: 20px;
}

#primary-menu > li:nth-child(5) {
    margin-right: 10px;
}

.main-navigation a {
    color: #000;
	display: block;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
}

.main-navigation 

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 1.5em;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li {

}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* HOME PAGE */
.hentry {
    margin-bottom: 0;
}

.secondary {
    background: #485164;
    height: 41px;
}

.secondary .small-logo,
.secondary .small-menu {
    display: none;
}

.site-header .box {
    position: relative;
}

.site-header .small-menu {
    color: #05286a;
    cursor: pointer;
    display: none;
    font-size: 34px;

    position: absolute;
    top: 5px;
    right: 100px;
    z-index: 100;
}

.site-branding {
    display: inline-block;
    margin: 19px 0 0 40px;
}

.home .entry-header ul,
.container {
    margin: 0 auto;
    width: 1080px;
}

.home .entry-header {
    height: 798px;
    position: relative;
}

.home .entry-header .wrapper {
    background: #fff;
    height: 180px;
    opacity: 0.81;
    width: 100%;

    position: absolute;
    bottom: 0;
}

.home .entry-header ul {
    padding: 70px 0 72px;
}

.home .entry-header .wrapper li {
    padding: 0 20px;
}

.home .entry-header .wrapper .fa-angle-down,
.home .entry-header .wrapper .fa-angle-right {
    border: 2px solid #5b6776;
    border-radius: 12.5px;
    font-weight: bold;
    height: 25px;
    margin-top: 7px;
    padding-top: 2px;
    text-align: center;
    width: 25px;
}

.home .entry-header .wrapper .fa-angle-down,
.home .entry-header .wrapper .fa-angle-right,
.home .entry-header .wrapper .text {
    display: inline-block;
    vertical-align: top;
}

.home .entry-header .wrapper .fa-angle-right {
    padding-left: 3px;
}

.home .entry-header .wrapper .text {
    color: #5b6776;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
    padding-left: 10px;
    text-decoration: none;
    width: 90%;
}

.home .entry-header li,
.customers li,
.pricing-table .packages > li {
    display: inline-block;
    padding: 0 40px;
    vertical-align: top;
    width: 33%;
}

.webinar-form {
    height: 452px;
    width: 477px;

    position: absolute;
    top: 70px;
    right: 180px;
}

.webinar-form .box {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 2px;
    margin: 0 auto;
    padding: 17px 41px 10px;
    text-align: center;
    width: 100%;
}

.small-heading {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.webinar-form .small-heading {
    color: #f9d32a;
}

.webinar-form .error {
    background: #f9d32a;
    color: #000;
}

.webinar-form .error p {
    margin: 0;
}

.webinar-form h1,
.webinar-form .desc {
    color: #fff;
    margin: 0;
}

.webinar-form h1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 1.3;
}

.webinar-form .desc {
    font-size: 14px;
}

.webinar-form form p,
.webinar-form .date-time {
    border: 1px solid #e4e4e4;
    border-bottom: 0;
    margin: 0;
}

.webinar-form input[type=text],
.webinar-form input[type=email],
.webinar-form select {
    border: 0;
    border-radius: 0;
    color: #7f8899;
    font-weight: bold;
    height: 54px;
    padding-left: 25px;
    width: 100%;
}

.webinar-form select {
    border-bottom: 1px solid #e4e4e4;
    padding-left: 20px;
}

.webinar-form .first_name,
.webinar-form .last_name {
    display: inline-block;
    width: 50.04%;
}

.webinar-form .last_name {
    margin-left: -5px;
}

.webinar-form .sign-up {
    height: 88px;
    position: relative;
}

.webinar-form .sign-up .gap {
    background: rgba(0, 0, 0, 0.35);
    border: 0;
    height: 32px;
    margin: 0;
}

.webinar-form .sign-up input {
    background: #f9d32a;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #040404;
    height: 56px;
    font-size: 21px;
    font-weight: 600;
    padding-top: 9px;
    text-align: center;
    text-shadow: none;
    width: 100%;

    position: absolute;
    bottom: 0;
}

.webinar-form input::-webkit-input-placeholder {
   color: #7f8899;
}

.webinar-form input:-moz-placeholder { /* Firefox 18- */
   color: #7f8899;  
}

.webinar-form input::-moz-placeholder {  /* Firefox 19+ */
   color: #7f8899;  
}

.webinar-form input:-ms-input-placeholder {  
   color: #7f8899;  
}

.how-it-works {
    padding: 57px 0 83px;
	position: relative;
	border-bottom: 2px solid #e2e2e2;
}

.how-it-works:after, 
.how-it-works:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.how-it-works:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}

.how-it-works:before {
	border-color: rgba(226, 226, 226, 0);
	border-top-color: #e2e2e2;
	border-width: 23px;
	margin-left: -23px;
}

.how-it-works .small-heading,
.customers .small-heading,
.resources .small-heading,
.resource-data .heading,
.how-it-works .content a {
    color: #05286a;
}

.how-it-works .box,
.customers .container,
.resources .box {
    text-align: center;
}

.how-it-works h1 {
    color: #2b2b2b;
    font-weight: 600;
    margin-top: 12px;
}

.how-it-works h1,
.customers h1,
.resources h1,
.pricing h1 {
    font-size: 38px;
}

.how-it-works .desc {
    color: #586474;
    font-weight: 600;
    margin: -19px 0 65px;
}

.how-it-works .desc,
.how-it-works .content h2,
.customers .desc,
.resources .desc,
.resource-list h2 {
    font-size: 22px;
}

.how-it-works .content {
    color: #232323;
}

.how-it-works .content h2 {
    color: #232323;
    font-size: 22px;
}

.how-it-works .content div {
    line-height: 1.5;
    margin-bottom: 10px;
}

.how-it-works .content div p:last-child {
    margin-bottom: 0;
}

.how-it-works .main-image,
.how-it-works .content {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.how-it-works .content {
    padding-left: 65px;
}

.how-it-works .content h2 {
    margin: 0;
}

.how-it-works .content a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.customers {
    padding: 76px 0 123px;
}

.customers .text p {
    color: #000;
    margin-bottom: 0;
}

.customers .box h1,
.customers .box p {
    margin: 0;
}

.customers p.desc {
    margin-bottom: 70px;
}

.customers .cta,
.pricing .cta,
.speeches .cta {
    border: 2px solid #05286a;
    color: #05286a;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;  
    height: 40px;
    margin-top: 45px;
    padding-top: 7px;
    text-align: center;    
    text-decoration: none;
    width: 178px;
}

.customers .cta {
    margin-top: 25px;
    text-transform: uppercase;
}

.pricing .cta {
    font-weight: 600;
    margin-top: 0;
    text-transform: uppercase;
}

.speeches .cta {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
}

.pricing .packages > li.second .cta {
    background: #05286a;
    color: #fff;
    margin-top: 5px;
}

.testimonials {
    background: #f4f4f4;
    padding: 90px 0 85px;
}

.testimonials .slide {
    padding: 0 114px;
}

.testimonials .slide .img-box,
.testimonials .slide .content {
    display: inline-block;
    vertical-align: middle;
}

.testimonials .slide .img-box img {
    border: 1px solid #a3a3a3;
}

.testimonials .slide .content {
    border-left: 2px solid rgb(168,168,168);
    border-left: 2px solid rgba(168,168,168,0.39);
    margin-left: 27px;
    padding-left: 37px;
    position: relative;
    width: 80%;
}

.testimonials .quote,
.testimonials .author {
    margin: 0;
}

.testimonials .quote {
    color: #2d2d2d;
    font-size: 22px;
    font-style: italic;
    line-height: 1.3;
    padding-top: 26px;
}

.testimonials .author {
    color: #7b7b7b;
    font-size: 14px;
    margin-top: 13px;
    padding-bottom: 26px;
}

.lSAction > a {
    background: #05286a;
    background-image: none;
    border-radius: 19px;
    color: #fff;
    font-size: 25px;
    height: 38px;
    opacity: initial;
    text-align: center;
    width: 38px;
}

.lSAction .fa {
    position: relative;
    top: 1px;
    left: -1px;
}

.lSAction .fa-angle-right {
    left: 1px;
}

.lSSlideOuter .lSPager.lSpg > li {
    margin-left: -1px;
}

.lSSlideOuter .lSPager.lSpg > li a {
    border-radius: 3px;
    height: 6px;
    width: 6px;
}

.lSSlideOuter .lSPager.lSpg > li a {
    background: #d8d8d8;
}

.lSSlideOuter .lSPager.lSpg > li.active a, 
.lSSlideOuter .lSPager.lSpg > li:hover a {
    background: #05286a;
}

.resources {
    padding: 73px 0 88px;
}

.resources .container {
    width: 1026px;
}

.resources h1 {
    margin: 11px 0 0;
}

.resources .desc {
    margin: 7px 0 120px;
}

.resources .small-devices {
    display: none;
}

.resource-list {
    line-height: 1.3;
    width: 43%;
}

.resource-list,
.resource-data {
    display: inline-block;
    vertical-align: top;
}

.resource-list img,
.resource-list .wrapper,
.resource-data img,
.resource-data .wrapper {
    display: inline-block;
    vertical-align: middle;
}

.resource-list .wrapper {
    padding-left: 30px;
    width: 90%;
}

.resource-data > div,
.hidden {
    display: none;
}

.resource-list li {
    border-bottom: 2px solid #e4e4e4;
    padding: 28px 0 23px 8px;
}

.resource-list li.active .blue,
.resource-list li.inactive .grey {
    display: inline-block;
}

.resource-list li.inactive .blue,
.resource-list li.active .grey {
    display: none;
}

.resource-list li:first-child {
    padding-top: 0;
}

.resource-list h2,
.resource-data .heading,
.resource-data h2,
.resource-data p {
    margin: 0;
}

.resource-list h2 {
    color: #767676;
    margin-bottom: 7px;
}

.resource-list .text {
    color: #878787;
}

.resource-list li.active h2 {
    color: #05286a;
}

.resource-list li.active .text {
    color: #586474;
    font-weight: 600;
}

.resource-data {
    margin-left: 87px;
    width: 493px;
}

.resource-data .podcast,
.resource-data .books {
    margin: 0 auto;
    position: relative;
    width: 360px;
}

.resource-data > .active {
    display: block;
}

.resource-data .heading {
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 14px;
    text-align: center;
}

.resource-data .books .heading {
    margin-bottom: 22px;
}

.resource-data .podcast .heading,
.resource-data .books .heading {
    position: relative;
}

.resource-data .podcast .heading:after,
.resource-data .books .heading:after {
    background: #e9e9e9;
    content: "";
    display: block;
    height: 1px;
    width: 230px;
}

.resource-data .podcast .heading:after,
.resource-data .books .heading:after  {
    margin: 0 auto;
    position: relative;
    top: 197px;
    text-align: center;
}

.resource-data ul {
    position: relative;
    text-align: center;
}

.resource-data .podcast ul:after,
.resource-data .books ul:after {
    background: #e9e9e9;
    content: "";
    display: block;
    width: 1px;
    height: 230px;

    position: absolute;
    top: 74px;
    left: 185px;
}

.resource-data .books ul:after {
    top: 65px;
    left: 171px;
}

.resource-data li {
    display: inline-block;
    width: 175px;
}

.resource-data .books li {
    margin-bottom: 34px;
}

.resource-data .podcast .image {
    margin-left: 9px;
}

.resource-data .podcast .image img {
    border: 1px solid #a3a3a3;
}

.resource-data .podcast .author {
    color: #05286a;
    display: block;
    margin-top: 11px;
    position: relative;
    text-decoration: none;
}

.resource-data .podcast .title {
    font-size: 14px;
    margin-bottom: 34px;
}

.resource-data .podcast h2 {
    font-size: 20px;
    font-weight: 600;
}

.resource-data .podcast h2:after {
    background: #d5d5d5;
    content: "";
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 71px;

    position: relative;
    top: -2px;
}

.resource-data .films .heading {
    font-size: 22px;
    margin-bottom: 26px;
}

.resource-data .films .heading:after {
    background: #061e4a;
    content: "";
    display: block;
    height: 1px;
    margin: 3px auto 0;
    width: 148px;
}

.video iframe {
    width: 100%;
}

.pricing {
    padding-bottom: 37px;
}

.pricing-page .pricing {
    padding-bottom: 80px;
}

.pricing header {
    background: #05286a;
    height: 268px;
    padding-top: 80px;
    text-align: center;
}

.pricing .small-heading {
    color: #f9d32a;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto 5px;
}

.pricing h1 {
    color: #fff;
    font-style: italic;
    font-weight: 600;
    margin: 0;
}

.pricing-table {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

.pricing-table h2,
.pricing-table .price {
    font-size: 46px;
    font-weight: 300;
}

.pricing-table h2 {
    margin: 92px 0 0;
}

.pricing-table .pkg {
    font-size: 22px;
    font-weight: 300;
    margin-top: -11px;
}

.pricing-table .price {
    margin: -13px 0 50px;
}

.pricing-table .packages {
    margin-top: -24px;
}

.pricing-table .packages > li {
    padding: 0;
    width: 33%;
}

.pricing-table .packages > li.first .box,
.pricing-table .packages > li.third .box {
    position: relative;
}

.pricing-table .packages > li.first .box:after,
.pricing-table .packages > li.third .box:after {
    background: linear-gradient(10deg, #ffffff, #d9d9d9 47%, #ffffff);
    content: "";
    display: block;
    height: 2px;
    margin: 36px auto 0;
    width: 185px;
}

.pricing-table .packages > li .box.changed:after {
    height:0;
}

.pricing-table .packages > li .box.changed {
    padding-bottom: 30px;
}

.pricing-table .packages > li.first {
    padding-right: 47px;
}

.pricing-table .packages > li.third {
    padding-left: 47px;
}

.pricing-table .packages > li.second h2 {
    font-weight: 400;
    margin-top: 87px;
}

.pricing-table .packages > li.second .box {
    background: #f9d32a;
    border: 6px solid white;
    border-radius: 3px;
    padding: 0 17px 43px;
}

.pricing-table .packages > li.second .pkg {
    font-weight: 500;
    margin-bottom: 0;
}

.pricing-table .packages > li.second .price {
    margin-top: 14px;
}

.pricing-table .packages > li.second h3 {
    padding: 15px 16px 0;
}

.pricing-table .features {
    color: #444444;
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.pricing-table .features {
    padding: 0 14px
}

.pricing-table .packages > li.second .features {
    padding: 0 36px
}

.pricing-table h3 {
    color: #444444;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 20px;
    padding-top: 28px;
    text-align: center;
    width: 70%;
}

.pricing-table .features img {
    position: relative;
    top: 3px;
}

.pricing-table .features img,
.pricing-table .features .text {
    display: inline-block;
    vertical-align: top;
}

.features li.active img.active,
.features li.inactive img.inactive {
    display: inline-block;
}

.features li.active img.inactive,
.features li.inactive img.active {
    display: none;
}

.pricing-table .features .text {
    margin: 0 0 17px;
    padding-left: 6px;
    width: 84%;
}

.pricing-table .features li.inactive,
.pricing-table .features li.inactive .fa-check {
    color: #c7c7c7;
}

.pricing-table .features li.third p {
    margin-bottom: 0;
}

.contact-webinar {
    background: #f4f4f4;
    color: #454545;
    font-size: 14px;
    padding: 62px 0;
}

.contact-webinar .container {
    width: 50%;
}

.contact-webinar li {
    display: inline-block;
    padding: 10px 0 7px 25px;
    text-align: center;
    vertical-align: bottom;
    width: 49%;
}

.contact-webinar li:first-child {
    border-right: 1px solid #d8d8d8;
    padding-right: 25px;
}

.contact-webinar h1 {
    font-size: 30px;
}

.contact-webinar .cta {
    border: 1px solid #444b58;
    color: #454545;
    display: inline-block;
    height: 30px;
    padding-top: 3px;
    text-decoration: none;
    width: 150px;
}

.weekly-updates {
    background: #05286a;
    color: #fff;
    height: 430px;
    padding: 76px 0;
    text-align: center;
}

.weekly-updates h1 {
    font-size: 30px;
    margin: 0;
}

.weekly-updates .desc {
    font-size: 14px;
    font-weight: 500;
    margin: 21px auto 0;
    width: 27%;
}

.weekly-updates form {
    margin-top: -5px;
}

.weekly-updates .join {
    background: #f9d32a;
    height: 40px;
    margin: 30px auto 0;
    position: relative;
    width: 420px;
}

.weekly-updates .join img,
.optin-bar img {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 100;
}

.weekly-updates .container > a,
.optin-bar .join > a {
    background: #f9d32a;
    color: #000;
    display: none;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    margin-top: 25px;
    padding-top: 6px;
    text-decoration: none;
    text-transform: uppercase;
    width: 178px;
}

.weekly-updates input[type=text],
.weekly-updates input[type=submit],
.optin-bar p
.optin-bar input[type=text],
.optin-bar input[type=submit] {
    display: inline-block;
    color: #000;
    font-size: 18px;
}

.weekly-updates input[type=text],
.optin-bar input[type=text] {
    border-radius: 0;
    height: 36px;
    margin: 2px 0 2px 2px;
    padding: 1px 0 0 45px;
    width: 320px;
}

.weekly-updates input[type=submit],
.optin-bar input[type=submit] {
    background: #f9d32a;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    margin-left: -3px;
    padding-top: 7px;
    text-shadow: none;
    width: 93px;
}

.weekly-updates input::-webkit-input-placeholder,
.optin-bar input::-webkit-input-placeholder {
   color: #000;
}

.weekly-updates input:-moz-placeholder,
.optin-bar input:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

.weekly-updates input::-moz-placeholder,
.optin-bar input::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

.weekly-updates input:-ms-input-placeholder,
.optin-bar input:-ms-input-placeholder {  
   color: #000;  
}

.weekly-updates .links {
    margin-top: 64px;
}

.weekly-updates .links li {
    display: inline-block;
    width: 15%;
}

.optin-bar {
    background: #f9d32a;
    color: #05286a;
    display: none;
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;

    position: fixed;
    bottom: -64px;
    z-index: 101;
}

.optin-bar.show {
    display: block;
}

.optin-bar .join {
    margin: 0 auto;
    text-align: center;
}

.optin-bar .box {
    position: relative;
    width: 422px;
}

.optin-bar .box,
.optin-bar p {
    display: inline-block;
}

.optin-bar p {
    margin-bottom: 0;
    margin-right: 7px;
    text-align: left;
}

.optin-bar img {
    top: 15px;
    left: 20px;
}

.optin-bar input[type=text] {
    height: 42px;
    padding-top: 0;
    width: 420px;
}

.optin-bar input[type=submit] {
    background: #05286a;
    border-radius: 0;
    color: #fff;
    font-weight: 300;

    position: absolute;
    top: 7px;
    right: 5px;
}

.optin-bar .fa-times {
    color: #05286a;
    cursor: pointer;

    position: absolute;
    top: 0;
    right: 10px;
}

.optin-bar input::-webkit-input-placeholder {
   color: #05286a;
   font-weight: 600;
}

.optin-bar input:-moz-placeholder { /* Firefox 18- */
   color: #05286a;
   font-weight: 600;
}

.optin-bar input::-moz-placeholder {  /* Firefox 19+ */
   color: #05286a;
   font-weight: 600;
}

.optin-bar input:-ms-input-placeholder {  
   color: #05286a;
   font-weight: 600;
}

.site-footer {
    background: #3b424d;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    padding: 51px 0 63px;
}

.blog .site-footer,
.single .site-footer,
.pricing-page .site-footer { 
    padding: 39px 0 0;
    position: relative;
}

.home .site-footer .container {
    width: 850px;
}

.blog .site-footer .container,
.single .site-footer .container,
.pricing-page .site-footer .container {
    padding: 0;
    width: 1080px;
}

.site-footer a {
    color: #f9d32a;
    text-decoration: none;
}

.blog .site-footer a,
.single .site-footer a,
.pricing-page .site-footer a {
    color: #fff;
    font-weight: 300;
}

.site-footer .content_2 p:first-child {
    margin-top: 23px;
}

.site-footer .content_2 p:last-child {
    margin-bottom: 0;
}

.site-footer .content_2:before {
    background: #000;
    content: "";
    display: block;
    height: 1px;
    margin-top: 28px;
    width: 75%;
}

.site-footer nav {
    margin-bottom: 80px;
}

.site-footer .menu-box {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.site-footer .menu-name {
    font-weight: bold;
    margin: 0;
}

.site-footer .menu-name,
.site-footer .menu-item {
    margin-bottom: 9px;
}

.site-footer .social-media {
    position: absolute;
    bottom: 165px;
    right: 12.5%;
}

.site-footer .social-media a {
    background: #fff;
    border-radius: 16px;
    color: #3b424d;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    margin-right: 17px;
    padding-top: 7px;
    text-align: center;
    width: 32px;
}

.site-info {
    text-align: center;
}

.disclaimer {
    margin: 8px 0 0;
}

.copyright {
    font-weight: 300;
    margin: 5px 0 40px;
}

/* BLOG */
.blog .top-featured img,
.single .top-featured img {
    display: block;
    margin: 0 auto;
}

.blog .main-container,
.single .main-container {
    margin: 0 auto;
    padding: 100px 0 47px 0px;
    width: 1080px;
}

.single .main-container {
    padding-top: 65px;
}

.blog .main-container.has-featured,
.single .main-container.has-featured {
    padding-top: 63px;
}

.blog .posts,
.blog .sidebar,
.single .post-box,
.single .sidebar {
    display: inline-block;
    vertical-align: top;
}

.blog .posts,
.single .post-box,
.single #comments {
    padding-right: 90px;
    width: 74%;
}

.blog .posts.hide-sidebar,
.single .post-box.hide-sidebar,
.single .hide-sidebar #comments {
    width: 100%;
}

.blog .sidebar,
.single .sidebar {
    width: 270px;
}

.single .sidebar {
    margin-top: 171px;
}

.single .sidebar.no-subtitle {
    margin-top: 128px;
}

.sidebar .cta-flagship,
.sidebar .books,
.sidebar .film {
    position: relative;
}

.sidebar .cta-flagship {
    background: #05286a;
}

.sidebar .cta-flagship,
.sidebar .cta-webinar {
    padding: 33px 16px 30px;
}

.sidebar .cta-flagship .sub,
.sidebar .books .heading,
.sidebar .film .heading,
.sidebar .cta-webinar .sub {
    color: #05286a;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}

.sidebar .cta-flagship,
.sidebar .cta-flagship .sub {
    color: #fff;
}

.sidebar .cta-webinar {
    background: #f9d32a;
}

.sidebar .cta-flagship .heading,
.sidebar .cta-webinar .heading {
    font-size: 27px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 12px;
}

.sidebar .cta-flagship .sub,
.sidebar .cta-webinar .sub {
    margin-bottom: 4px;
}

.sidebar .cta-webinar .sub {
    letter-spacing: 0.2;
}

.sidebar .cta-webinar .heading {
    color: #020202;
}

.sidebar .books .heading,
.sidebar .film .heading {
    margin-bottom: 12px;
}

.sidebar .cta-flagship:after,
.sidebar .books:after,
.sidebar .film:after {
    background: #eee;
    content: " ";
    display: block;
    height: 1px;
    margin: 0 auto;
    width: 92%;

    position: relative;
    top: 67px;
}

.sidebar .books:after {
    top: 5px;
}

.sidebar .film:after {
    top: 29px;
}

.sidebar .film {
    margin: 42px 0 64px;
}

.sidebar .button {
    background: #f9d32a;
    color: #05286a;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 143px;
}

.sidebar .cta-webinar .button {
    background: #05286a;
    color: #fff;
}
.sidebar .books {
    margin-top: 72px;
}

.sidebar .books,
.sidebar .film {
    padding: 0 15px;
}

.sidebar .books .box a {
    display: inline-block;
    margin-bottom: 23.5px;
    width: 100px;
}

.sidebar .books .box a:nth-child(odd) {
    margin-right: 35px;
}

.sidebar .books .box img {
    display: block;
    width: 100px;
}

.entry-title {
    margin: 0 0 4px;
}

.entry-title a {
    color: #05286a;
    font-size: 42px;
    font-weight: 500;
    text-decoration: none;
}

.entry-header .subtitle {
    color: #4d4d4d;
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 10px;
}

.entry-meta {
    color: #4d4d4d;
    font-size: 14px;
}

.entry-content {
    line-height: 1.63;
    margin-top: 4px;
    padding-bottom: 17px;
}

.single .entry-content {
    margin-top: 18px;
}

.entry-content .featured {
    margin: 24px 0 40px;
}

.cat-links {
    margin-bottom: 0;
}

.cat-links a,
.tags-links a {
    color: #05286a;
    font-size: 14px;
    text-decoration: none;
}

.tags-links {
    margin: 7px 0 0;
}

.tags-links a {
    font-style: italic;
}

.sd-sharing-enabled {
    border-top: 2px solid #e7e7e7;
    margin-top: 26px;
}

.sd-sharing {
    margin-top: 23px;
}

div.sd-social-icon .sd-content ul li[class*='share-'] a,
div.sd-social-icon .sd-content ul li[class*='share-'] a:hover {
    background: #b5b5b5 !important;
    height: 42px;
    margin-right: 23px;
    width: 42px;
}

.sd-sharing-enabled .sd-content ul li a.sd-button:before {
    display: none;
}

.sd-content ul li a.share-google-plus-1:after,
.sd-content ul li a.share-facebook:after,
.sd-content ul li a.share-linkedin:after,
.sd-content ul li a.share-twitter:after,
.sd-content ul li a.share-print:after,
.sd-content ul li a.share-email:after {
    font-family: FontAwesome;
    font-size: 20px;
    position: relative;
    top: 3px;
    left: 5px;
}
.sd-content ul li a.share-google-plus-1:after {
    content: "\f0d5";
}

.sd-content ul li a.share-facebook:after {
    content: "\f230";
}

.sd-content ul li a.share-linkedin:after {
    content: "\f0e1";
}

.sd-content ul li a.share-twitter:after {
    content: "\f099";
}

.sd-content ul li a.share-print:after {
    content: "\f02f";
}

.sd-content ul li a.share-email:after {
    content: "\f003";
}

.sd-sharing-enabled .sd-social-icon .sd-content ul li a.sd-button {
    color: #fff !important;
}

@media (max-width: 1254px) {
    .resources .container {
        width: 800px;
    }

    .resource-data {
        margin-left: 7%;
        width: 390px;
    }
}

@media (max-width: 1251px) {
    .home .entry-header ul,
    .container,
    .resources .container,
    .blog .main-container,
    .single .main-container,
    .blog .site-footer .container,
    .single .site-footer .container,
    .pricing-page .site-footer .container {
        margin: 0 auto;
        width: 75%;
    }

    .blog .posts,
    .single .post-box,
    .single #comments {
        padding-right: 8%;
        width: 70%;
    }

    .blog .sidebar,
    .single .sidebar {
        width: 29%;
    }

    .sidebar .books .box a:nth-child(odd) {
        margin-right: 10%;
    }

    .home .entry-header ul,
    .customers .container,
    .pricing .container {
        width: 95%;
    }

    .home .entry-header .wrapper .text {
        width: 88%;
    }

    .testimonials .slide {
        padding: 0 85px;
    }

    .testimonials .slide .img-box {
        width: 20%;
    }

    .testimonials .slide .content {
        width: 74%;
    }

    .resource-list li.active .blue,
    .resource-list li.inactive .grey {
        padding: 0 30px 10px;
    }

    .resource-list li.active .blue,
    .resource-list li.inactive .grey,
    .resource-list .wrapper {
        display: block;
    }

    .pricing-table {
        width: 94%;
    }

    .pricing-table .packages > li {
        width: 32%;
    }

    .weekly-updates .desc {
        width: 340px;
    }
}

@media (max-width: 1180px) {
    .sidebar .books .box a {
        width: 43%;
    }
}

@media (max-width: 1051px) {
    .resources .container {
        width: 90%;
    }
    
    .resource-data {
        width: 360px;
    }
}

@media (max-width: 1050px) {
    .testimonials .slide .img-box {
        width: 25%;
    }

    .testimonials .slide .content {
        width: 68%;
    }

    .contact-webinar .container {
        width: 75%;
    }

    .home .site-footer .container {
        width: 60%;
    }
}

@media (max-width: 959px) {
    .main-navigation li,
    .main-navigation li:nth-child(3) {
        padding-right: 30px;
    }

    #primary-menu > li:nth-child(4) {
        margin-right: 10px;
    }

    #primary-menu > li:nth-child(4) a,
    #primary-menu > li:nth-child(5) a {
        width: 90px;
    }  
}

@media (max-width: 901px) {
    .home .entry-header ul {
        width: 100%;
    }

    .home .entry-header .wrapper .text {
        width: 84%;
    }
}

@media (max-width: 868px) {
    .customers li {
        display: block;
        margin: 40px auto 0;
        width: 75%;
    }

    .customers li:first-child {
        margin-top: 0;
    }
}

@media (max-width: 834px) {
    .webinar-form {
        margin: 0 auto;
        top: 70px;
        right: 0;
        left: 0;
    }
}

@media (max-width: 821px) {
    .home .entry-header li {
        width: 32%;
    }

    .customers {
        padding-bottom: 32px;
    }

    .testimonials {
        padding-bottom: 24px;
        padding-top: 24px;
    }

    .testimonials .container {
        width: 95%;
    }

    .testimonials .slide .img-box,
    .testimonials .slide .content {
        display: block;
        margin: 0 auto;
    }

    .testimonials .slide .img-box {
        width: 30%;
    }

    .testimonials .slide .content {
        border-left: 0;
        margin: 0 auto;
        padding-left: 0;
        text-align: center;
        width: 100%;
    }

    .testimonials .quote {
        font-size: 16px;
    }

    .optin-bar .join {
        margin-top: -14px;
    }

    .optin-bar .join .box {
        display: none;
    }

    .optin-bar .join > a {
        background: #05286a;
        color: #fff;
        display: inline-block;
    }

    .blog .posts,
    .blog .sidebar,
    .single .post-box,
    .single .sidebar {
        display: block;
    }

    .blog .posts,
    .single .post-box {
        padding-right: 0;
        width: 100%;
    }

    .blog .sidebar,
    .single .sidebar {
        width: 270px;
    }

}

@media (max-width: 811px) {
    .resource-data {
        margin-left: 3%;
    }
}

@media (max-width: 797px) {
    .pricing-table .packages > li {
        display: block;
        margin: 0 auto;
        width: 75%;
    }

    .pricing-table .packages > li.first {
        margin-bottom: 30px;
        padding-right: 0;
    }

    .pricing-table .packages > li.third {
        margin-top: -46px;
        padding-left: 0;
    }

    .pricing-table .packages > li.second h2 {
        margin-top: 30px;
    }

    .pricing-table .features {
        margin: 0 auto;
        width: 75%;
    }

    .pricing .features li {
        margin: 0 auto;
        width: auto;
    }

    .pricing .packages > li.second .features li{
        width: auto;
    }

    .pricing-table .features .text {
        width: 92%;
    }
}

@media (max-width: 769px) {
    .site-header .small-menu {
        display: inline-block;
    }

    .main-navigation {
        display: none;
        position: absolute;
        top: 56px;
        right: 35px;
    }

    .main-navigation li {
        float: none;
        padding: 0;
        width: 140px;
        z-index: 100;
    }

    #primary-menu > li a,
    #primary-menu > li:nth-child(4) a,
    #primary-menu > li:nth-child(5) a {
        background: #edeef0;
        color: #05286a;
        height: 40px;
        padding-top: 10px;
        width: 140px;
    }

    .how-it-works .main-image,
    .how-it-works .content {
        display: block;
        margin: 0 auto;
        width: 75%;
    }

    .how-it-works .content {
        padding: 30px 0 0;
    }

    .how-it-works .content h2 {
        text-align: center;
    }

    .contact-webinar li:first-child {
        border-right: 0;
        padding-right: 0;
    }

    .contact-webinar li:first-child:after {
        background: #d5d5d5;
        content: " ";
        display: block;
        height: 1px;
        margin: 0 auto;
        width: 225px;

        position: relative;
        top: 32.5px;
    }

    .contact-webinar li {
        display: block;
        margin: 0 auto;
        width: 75%;
    }

    .contact-webinar li:last-child {
        margin-top: 47px;
    }
}

@media (max-width: 751px) {
    .resource-data {
        margin-left: 8%;
        width: 43%;
    }

    .resource-data .podcast .heading:after,
    .resource-data .books .heading:after {
        height: 0;
    }

    .resource-data .podcast ul:after,
    .resource-data .books ul:after {
        width: 0;
    }

    .resource-data li {
        display: block;
        margin: 0 auto;
        width: auto;
    }

    .resource-data .podcast,
    .resource-data .books {
        width: auto;
    }
}

@media (max-width: 697px) {
    .home .entry-header {
        height: 591px;
    }

    .home .entry-header .wrapper {
        display: none;
    }
}

@media (max-width: 570px) {
    .webinar-form {
        width: 80%;
    }

    .testimonials .slide .img-box {
        height: 75px;
        width: 75px;
    }

    .weekly-updates form {
        display: none;
    }

    .weekly-updates .container > a{
        display: inline-block;
    }

    .optin-bar {
        height: 100px;
    }

    .optin-bar .join {
        margin-top: 10px;
    }

    .optin-bar .box,
    .optin-bar p {
        display: block;
        margin: 0 auto;
        width: 50%;
    }

    .optin-bar .join > a {
        margin: 5px 0 0;
    }

    .site-footer .social-media {
        bottom: 100px;
        right: initial;
    }
}

@media (max-width: 511px) {
    .site-branding {
        margin-left: 15px;
    }

    .site-header .small-menu {
        right: 15px 
    }

    .resources {
        padding-bottom: 32px;
    }

    .resources .container {
        width: 100%;
    }

    .resources .desc {
        margin-bottom: 32px;
    }

    .resources .small-devices {
        display: block;
        text-align: center;
    }

    .resources .small-devices li {
        border-top: 1px solid #ddd;
        padding: 16px 10px 28px;
    }

    .resources .small-devices li:last-child {
        border-bottom: 1px solid #ddd;
    }

    .resources .small-devices img,
    .resources .small-devices a {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
    }

    .resources .small-devices a {
        color: #05286a;
        margin-left: 7px;
        text-decoration: none;
    }

    .resources .small-devices h2 {
        font-size: 22px;
    }

    .resources .small-devices .text {
        font-weight: 600;
        margin-top: 11px;
    }
    
    .resource-list,
    .resource-data {
        display: none;
    }

    .contact-webinar li:first-child:after {
        width: 92%;
    }
}

@media (max-width: 396px) {
    .site-header {
        height: 44px;
    }

    .site-header .small-menu,
    .site-branding {
        display: none;
    }

    .secondary .small-logo,
    .secondary .small-menu {
        display: block;
    }

    .main-navigation {
        display: block;
        float: none;
        position: static;
        width: 100%;
    }
    
    .main-navigation ul {
        display: block;
    }

    #primary-menu > li {
        display: none;
        float: none;
    }

    #primary-menu > li:nth-child(4),
    #primary-menu > li:nth-child(5) {
        display: inline-block;
        margin-right: 0;
        width: 49.8%;
    }

    #primary-menu > li:nth-child(5) {
        margin-left: -3px;
    }

    #primary-menu > li:nth-child(4) a,
    #primary-menu > li:nth-child(5) a {
        height: 44px;
        width: 100%;
    }

    .secondary {
        height: 44px;
    }

    .secondary .small-logo {
        position: absolute;
        top: 14px;
        left: 8px;
    }

    .secondary .small-menu {
        border-left: 1px solid #000;
        color: #fff;
        cursor: pointer;
        font-size: 36px;
        height: 44px;
        width: 50px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .secondary .small-menu .fa-bars {
        position: relative;
        top: -3px;
    }

    #secondary-menu li {
        display: block;
    }

    .secondary-nav {
        display: none;
        top: 100%;
        z-index: 105;
    }

    #secondary-menu li a {
        background: #363d44;
        width: 100%;
    }

    #secondary-menu li:first-child a {
        background: #363d44;
    }

    #secondary-menu li:last-child a {
        border-left: 0;
    }
}

/* iPhone */
@media (max-width: 375px) {
    .home .entry-header {
        background: #05286a !important;
        height: 560px;
    }

    .webinar-form {
        top: 24px;
        width: 86.6%;
    }

    .webinar-form .box {
        padding: 22px 30px 14px;
    }

    .webinar-form .desc {
        margin-top: 9px;
    }

    .webinar-form .first_name,
    .webinar-form .last_name {
        display: block;
        width: 100%;
    }

    .webinar-form .last_name {
        margin-left: 0;
    }

    .webinar-form input[type=text],
    .webinar-form input[type=email],
    .webinar-form select {
        height: 42px;
    }

    .webinar-form .sign-up {
        height: 83px;
    }

    .webinar-form .sign-up .gap {
        height: 27px;
    }

    .container {
        width: 95%;
    }

    .how-it-works {
        padding: 40px 0 40px;
    }

    .how-it-works h1,
    .customers h1,
    .resources h1,
    .pricing h1 {
        font-size: 28px;
        font-weight: 400;
        line-height: 1.3;
    }

    .how-it-works .desc,
    .customers .desc,
    .resources .desc {
        font-size: 16px;
        font-weight: 300;
        margin: 2px 0 29px;
    }

    .resources .desc {
        margin-top: 19px;
    }

    .resources .small-devices li {
        display: none;
    }

    .resources .small-devices li:first-child {
        border-bottom: 1px solid #ddd;
        display: block;
    }

    .how-it-works .main-image {
        width: 85%;
    }

    .how-it-works .content {
        text-align: center;
        width: 100%;
    }

    .how-it-works .content h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .how-it-works .content div {
        font-size: 14px;
    }

    .customers {
        padding-bottom: 56px;
    }

    .customers p.desc {
        margin-bottom: 61px;
    }

    .customers li {
        padding: 0;
    }

    .pricing header {
        height: 198px;
        padding-top: 32px;
    }

    .pricing .small-heading {
        margin-bottom: 10px;
    }

    .pricing-table .packages {
        margin-top: -42px;
    }

    .pricing-table .features {
        padding: 0;
        margin: 0 auto;
        width: 75%;
    }

    .pricing-table .features .text,
    .pricing-table .packages > li {
        width: 88%;
    }

    .pricing-table .packages > li.second h2 {
        margin-top: 89px;
    }

    .pricing-table .packages > li.second .features {
        padding:0;
    }

    .contact-webinar {
        padding: 32px 0 64px;
    }

    .weekly-updates {
        background: #05286a !important;
        height: 295px;
    }

    .weekly-updates .desc {
        width: 90%;
    }

    .weekly-updates .links {
        display: none;
    }

    .home .site-footer .container {
        font-size: 12px;
        width: 80%;
    }

    .optin-bar.show {
        display: none;
    }

    .blog .sidebar,
    .single .sidebar {
        display: none;
    }
}

@media (max-width: 353px) {
    .home .entry-header {
        height: 560px;
    }

    .webinar-form .box {
        padding: 10px;
    }
}